command_history.txt
.curseclient
/dynamic-data-pack-cache
/dynamic-resource-pack-cache
ftbbackups3/backups.json
/ftbbackups3
/local/ftbchunks
/logs
minecraftinstance.json
downloads/log.json
options.txt
/saves
/screenshots
/shaderpacks
servers.dat
servers.dat_old
user-prefs.json
usercache.json
usernamecache.json
/resourcepacks
